.gradientBackground {
    background: linear-gradient(300deg, #658f20,#172a28, #194923, #172a28);
    background-size: 500% 500%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}