@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.desktopNav {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

nav a {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

nav i {
    font-size: 1.5rem;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 0;
    background-color: #DBEDCC;
    background-color: #DBEDCC;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overlay a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #172A28;
    transition: 0.3s;
    text-transform: uppercase;
}

.currentPage,
.overlay a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.overlay .closebtn {
    position: absolute;
    margin: 1rem;
    right: 1rem;
    font-size: 2.5rem;
}

/* Forest Page (special nav)*/

.forestPage nav {
    align-items: flex-start;
    margin-bottom: 0;
}

.biggerTitle {
    width: 50%;
    font-size: 3rem;
    font-weight: 600;
}

.chooseSeedling nav {
    margin-bottom: 2rem;
}

.questionLayout .mobileNav {
    margin: 0;
}

.seedlingResult .mobileNav {
    margin-bottom: 3rem;
}

/*DESKTOP LAYOUT*/
@media screen and (width > 768px) {
    .mobileNav {
        display: none;
    }

    .desktopNav {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .navTitle {
        font-size: 3rem;
    }

    .desktopNav div {
        display: flex;
        gap: 2rem;
    }

    .desktopNav div a {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        text-transform: none;
    }

    .desktopNav a:hover {
        cursor: pointer;
    }

    .desktopNav div a:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

    .fixedNav {
        position: fixed;
        top: 0;
        width: 95%;
        transition: top 0.3s;
        padding-top: 1rem;
        align-items: center;
        z-index: 2;
    }

    .biggerTitle {
        font-size: 4rem;
    }

    .chooseSeedling nav {
        margin-bottom: 0rem;
    }
}

/*IMAC LAYOUT*/
@media screen and (width > 2000px) {
    .forestPage .desktopNav {
        margin: 3rem 2rem 0 2rem;
    }

    .biggerTitle {
        font-size: 5rem;
    }

    .desktopNav {
        margin: 2rem;
    }

    .navTitle {
        font-size: 3.5rem;
    }

    .desktopNav div a {
        font-size: 1.5rem;
    }
}