* {
    box-sizing: border-box;
}

:root {
    --offwhite: #F7F7F7;
    --lightGreen: #DBEDCC;
    --cream: #faecd2;
    --lime: #afc300;
    --salmon: #fe9a66;
    --green: #194923;
    --orange: #ff5c00;
    --forest: #172a28;
    --maroon: #6d1d14;
}

#audioPlayer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

/* UNIVERSAL STYLES */

body {
    width: 100vw;
    margin: 0;
}

main {
    margin: 2rem;
}

header {
    margin: 2rem;
}

.button {
    padding: 0.75rem 1.25rem;
    min-width: 150px;
    background-color: white;
    border: none;
}

.button:hover {
    background-color: var(--lightGreen);
    transition-duration: 0.5s;
    cursor: pointer;
}

.hideOnMobile {
    display: none;
}


/* LANDING */

#landing {
    height: 100vh;
    width: auto;
    background-image: url(../images/landing-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing div {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
}

#landing .button {
    margin-top: 4rem;
}

/* INTRO */
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.introContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: 3rem;
}

.introText {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.introText .button {
    max-width: fit-content;
    align-self: center;
    text-align: center;
}

.progressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.active,
.currentCircle {
    color: var(--salmon);
    /* Color for active slide */
}

.completed {
    color: var(--offwhite);
    /* Color for completed slides */
}

.intro footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

#nextArrow:hover {
    cursor: pointer;
}

/* FOREST PAGE */

.forestPage,
.plantSeedlingPage,
.seedlingResult {
    height: 100vh;
    background-image: url(../images/forestBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
}

#forest {
    height: 60vh;
    margin-inline: 2rem;
}

.forestPage footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 2rem;
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0;
}

.forestPage footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#arrow {
    opacity: 0;
}

#helpPopup {
    opacity: 0;
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--lightGreen);
    color: var(--forest);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    place-content: center;
}

#helpPopup article {
    text-align: center;
}

#helpPopup i:hover,
.forestPage footer h6:hover {
    cursor: pointer;
}

/* PLANT A SEEDLING PAGE */
.plantSeedlingPage {
    background-image: url(../images/forestBackgroundBlur.jpg);
}

.plantSeedlingPage main {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plantSeedlingPage footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-inline: 2rem;
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0;
}

.chooseSeedling main {
    height: 100vh;
    gap: 2rem;
    justify-content: flex-start;
}

.seedlingSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.desktopProgress {
    display: none;
}


/* CAROUSEL */

.carousel-container {
    margin-top: 3rem;
    position: relative;
    width: 90%;
    max-width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid white;
    aspect-ratio: 1/1;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    place-content: center;
}

.carousel-item img {
    width: 66%;
    display: block;
}

.prev-btn,
.next-btn {
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 3rem;
}

#carousel-caption {
    text-align: center;
    font-size: 1.2em;
}

.carousel-item.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

/* FORM */

.questionLayout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#plantSeedling2,
#plantSeedling3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

#plantSeedling2 input,
#plantSeedling3 input {
    width: 70vw;
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 1rem;
    border-bottom: 2px solid white;
    text-align: center;
    margin-block: 3rem;
}

#userName,
#userLocation {
    margin-block: 1rem !important;
}

/* Mark input boxes that gets an error on validation: */
#plantSeedling2 input.invalid,
#plantSeedling3 input.invalid {
    background-color: var(--cream);
}

.formButtons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.seedlingResult main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.result {
    text-align: center;
}

.result div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.result img {
    width: 50vw;
    padding-bottom: 2rem;
}


/* ABOUT PAGE */

.aboutPage {
    height: 100vh;
    background-image: url(../images/aboutBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.aboutPage article:first-child {
    margin-bottom: 5rem;
}

#actions {
    margin-top: 2rem;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem 2rem;
}

.actionBox {
    display: flex;
    flex-direction: column;
}

.actionBox div {
    border: 1px solid white;
    aspect-ratio: 1/1;
    display: flex;
    place-content: center;
}

.actionBox img {
    width: 66%;
    filter: saturate(0) brightness(100);
}

.aboutPage footer {
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    color: var(--lime);
}

/*DESKTOP LAYOUT*/
@media screen and (width > 768px) {
    .hideOnMobile {
        display: unset;
    }

    .hideOnDesktop {
        display: none;
    }

    /* INTRO */
    .introContent {
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .introText {
        display: flex;
        align-items: center;
    }

    .introText .button {
        align-self: center;
        text-align: center;
    }

    #progressBar1 {
        margin-left: auto;
    }

    .progressBar {
        flex-direction: column;
    }

    #introButton {
        display: none;
    }

    /* FOREST PAGE */

    #helpPopup {
        width: 40vw;
        height: auto;
        margin: 0 auto;
        padding-bottom: 4rem;
    }

    /* SEEDLINGS */

    .plantSeedlingPage main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .plantSeedlingPage .progressBar {
        flex-direction: row;
    }

    .chooseSeedling main {
        height: 50vh;
        gap: 0;
        justify-content: flex-start;
    }

    .desktopProgress {
        display: flex;
        flex-direction: column !important;
        position: fixed;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .mobileProgress {
        display: none;
    }

    .carousel-container {
        margin-top: 0;
        width: 90%;
        max-width: 220px;
    }

    .seedlingSelection {
        width: 33vw;
    }

    .prev-btn,
    .next-btn {
        padding-top: 0;
    }

    /* FORM */
    #plantSeedling2, #plantSeedling3 {
        width: 50vw;
    }

    #plantSeedling2 input,
    #plantSeedling3 input {
        width: 30vw;
        margin-top: 2rem !important;
    }

    .formButtons {
        flex-direction: row;
    }

    .result {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        width: 70vw;
    }

    .result div:nth-child(2) {
        text-align: left;
        width: 33vw;

        .result div:nth-child(2) h6 {
            font-size: 1.25rem;
        }
    }

    .result img {
        width: 20vw;
        padding-bottom: 0;
    }

    .buttonOptions {
        margin-bottom: 3rem;
    }


    /* ABOUT PAGE */
    .aboutPage article:first-child {
        width: 40%;
    }

    #talkText {
        width: 40%;
        margin-bottom: rem;
    }

    .aboutPage footer {
        padding-top: 4rem;
        width: 50%;
        margin: 0 auto;
    }

}